---
interface Props {
	manga: any;
}

const { manga } = Astro.props;
---

<div transition:name={`manga_image_${manga.slug}`} class="min-h-56 m-2 cursor-pointer w-full sm:w-auto">
	<a class="manga-card text-sm" href={`/manga/${manga.slug}`}>
		<div class="manga-book">
			<div class="manga-side text-center overflow-hidden flex items-center justify-center">
				<h4 class="title">
					{
						manga.title.split('').map((letter: string) => 
							<span class="block uppercase w-100 text-[#8b8b8b] font-black h-4">{letter}</span>
						)
					}
				</h4>
			</div>
			<img src={manga.image_url} alt={manga.title} class="h-full overflow-hidden"/>
		</div>
		<div class="block sm:hidden m-2 ml-4 w-full max-w-40">
			<h3 class="text-lg font-bold">{manga.title}</h3>
			<p class="text-sm text-[#8b8b8b]">
				{manga.author.name}
			</p>
			<p class="text-sm text-[#8b8b8b]">
				{manga.short_description}
			<p class="text-sm text-[#8b8b8b]">
				{manga.genre?.join(', ')}
			</p>
		</div>
	</a>
</div>

<style>
	.manga-card {
		display: flex;
		justify-content: center;
		align-items: center;
		transform-style: preserve-3d;
		perspective: 1000px;
		height: 100%;
		width: 100%;
	}
	.manga-card .manga-book {
		position: relative;
		width: 160px;
		height: 100%;
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
		transform-style: preserve-3d;
		transition: 0.5s;
	}
	.manga-card:hover .manga-book {
	/* section .manga-book { */
		transform: rotateY(-35deg);
		transition: 0.2s;
	}
	.manga-card .manga-book img {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgb(160, 160, 160);
		background: linear-gradient(180deg,rgba(31,29,29,1) 0%, rgba(43,43,43,1) 75%, rgba(27,6,13,1) 81%, rgb(27, 25, 27) 100%);
		object-fit: scale-down;
		border-right: 1px solid #000;
		border-top: 1px solid #222222;
		border-bottom: 1px solid #222222;
	}
	
	.manga-card .manga-side {
		position: absolute;
		right: -30px;
		width: 30px;
		height: 100%;
		transform-origin: left;
		background: rgb(160, 160, 160);
		background: linear-gradient(180deg,rgba(31,29,29,1) 0%, rgba(43,43,43,1) 75%, rgba(27,6,13,1) 81%, rgb(27, 25, 27) 100%);
		background-position: center;
		transform: rotateY(90deg);
		transition: 0.5s;
		border: 1px solid #222222;
		border-left: 1px solid #000;
		
		animation: fadeInAnimation ease 1s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	.manga-card .manga-side .title {
		transform: translateY(-0.4rem);
	}
	
	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>