---
import AdminLayout from "../../../../../layouts/AdminLayout.astro";
import { AdminMangasBreadcrumb } from "../../../../../components/admin/AdminMangasBreadcrumb.jsx";
import { AdminMangaCustomChapterEditCard } from "../../../../../components/admin/AdminMangaCustomChapterEditCard.jsx";

const { mangaSlug, chapterNumber } = Astro.params;

const [
    { status: mangaStatus, data: manga },
    { status: chapterStatus, data: chapter },
] = await Promise.all([
    Astro.locals.callAPI(`/api/organization/${Astro.locals.organization.slug}/manga-custom/${mangaSlug}`),
    Astro.locals.callAPI(`/api/organization/${Astro.locals.organization.slug}/manga-custom/${mangaSlug}/chapter/${chapterNumber}`),
]);

if (!mangaStatus) {
    return Astro.redirect('/404');
}

if (!chapterStatus) {
    return Astro.redirect('/404');
}
---

<AdminLayout title="Editar capitulo" page="mangas">
  <AdminMangasBreadcrumb client:only />
  <div class="py-2"></div>
  <AdminMangaCustomChapterEditCard chapter={chapter} manga={manga} client:only />
</AdminLayout>
