---
import { ThemeProvider } from "../components/ThemeProvider.jsx";
import { StickyNavbar } from "../components/StickyNavbar.jsx";
import { Footer } from "../components/Footer.jsx";
// import { ViewTransitions } from "astro:transitions";
import { ToastContainer } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";

interface Props {
	title?: string;
	imageUrl?: string;
	description?: string;
	isAdmin?: boolean;
}

const { title, isAdmin, imageUrl, description } = Astro.props;
const { theme, organization, userSlug, member } = Astro.locals;
---

<!doctype html>
<html data-theme={theme} lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={organization?.description || "Mangas"} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? title + " - " + organization?.title : organization?.title || "Mangas"}</title>
		{/* Google Ads */}
		{
			isAdmin !== false && organization?.enableGoogleAds && (
				<meta
					name="google-adsense-account"
					content={organization?.googleAdsMetaContent}
				/>
			)
		}
		{/* view transitions */}
		{
			/*
			isAdmin !== false && <ViewTransitions />
		*/
		}
		{/* Metadata General */}
		<meta name="title" content={title && organization?.title ? (title + " - " + organization?.title) : title || organization?.title || "Mangas"}>
		<meta name="description" content={description || organization?.description || organization?.title || "Mangas"}>
		<meta property="og:title" content={title && organization?.title ? (title + " - " + organization?.title) : title || organization?.title || "Mangas"}>
		<meta property="og:description" content={description || organization?.description || organization?.title || "Mangas"}>
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content={imageUrl || organization?.imageUrl} />
		<meta name="theme-color" content="#ffccff">
	</head>
	<body class="bg-gray-50">
		<ThemeProvider>
			<StickyNavbar
				organization={organization}
				username={Astro.locals.username}
				member={member}
				userSlug={userSlug}
				client:load
			/>
			<div class="min-h-[80vh]">
				<slot />
			</div>
			{
				isAdmin !== false && (
					<Footer organization={organization} client:load />
				)
			}
			<ToastContainer client:only />
		</ThemeProvider>
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	@font-face {
		font-family: "DJB Me and My Shadow";
		src: url("/fonts/djb.ttf") format("truetype");
	}
	.text-font-djb {
		font-family: "DJB Me and My Shadow";
	}
</style>
