---
import { ThemeProvider } from "../components/ThemeProvider.jsx";
import { StickyNavbar } from "../components/StickyNavbar.jsx";
import { Footer } from "../components/Footer.jsx";
// import { ViewTransitions } from "astro:transitions";
import { ToastContainer } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";

interface Props {
	title: string;
	isAdmin?: boolean;
}

const { title, isAdmin } = Astro.props;
const { theme, organization } = Astro.locals;
---

<!doctype html>
<html data-theme={theme} lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - {organization?.title}</title>
		{/* Google Ads */}
		{
			isAdmin !== false && organization?.googleAdsMetaContent && (
				<meta
					name="google-adsense-account"
					content={organization?.googleAdsMetaContent}
				/>
			)
		}
		{/* view transitions */}
		{
			/*
			isAdmin !== false && <ViewTransitions />
		*/
		}
	</head>
	<body>
		<ThemeProvider>
			<StickyNavbar organization={organization} username={Astro.locals.username} client:load />
			<slot />
			{
				isAdmin !== false && (
					<Footer organization={organization} client:load />
				)
			}
			<ToastContainer client:only />
		</ThemeProvider>
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	@font-face {
		font-family: "DJB Me and My Shadow";
		src: url("/fonts/djb.ttf") format("truetype");
	}
	.text-font-djb {
		font-family: "DJB Me and My Shadow";
	}
</style>
