---
import { MangaView } from '../../components/MangaView';
import Layout from '../../layouts/Layout.astro';

const { mangaSlug } = Astro.params;

const { status: mangaStatus, data: manga } = await Astro.locals.callAPI(`/api/manga-custom/${mangaSlug}`);

if (!mangaStatus) {
    return Astro.redirect('/404');
}

function colorByRank(rank: string) {
    switch (rank) {
        case 'C':
            return 'text-red-500';
        case 'B':
            return 'text-yellow-500';
        case 'A':
            return 'text-blue-500';
        case 'S':
        default:
            return 'text-green-500';
    }
}
---

<Layout title={manga.title}>
    <MangaView manga={manga} client:only/>
    <div class="md:flex w-full">
        <div class="mb-4 md:mb-0">
            <figure class="relative my-4 md:mx-4">
                <img
                    transition:name={`manga_image_${manga.slug}`}
                    src={manga.imageUrl}
                    alt={manga.title}
                    class="w-full shadow-md mx-auto min-w-64 max-w-64"
                    draggable="false"
                />
            </figure>
            <div class="w-full text-center">
                <button type="button" class="btn btn-wide black-button md:mx-4">Añadir a favoritos</button>
            </div>
        </div>
        <div class="md:m-4 w-full">
            <div class="max-h-64 border-white-color border-2 p-4">
                <h4 transition:name={`manga_title_${manga.slug}`} class="mb-0 text-2xl font-bold uppercase">{manga.title}</h4>
                {manga.authors.map((author: any, index: number) => (
                    <>
                        <a transition:name={`manga_${manga.slug}_author_${author.slug}`} class="m-0" href={`/author/${author.slug}`}>{author.name}</a>
                        {index !== manga.authors.length - 1 ? (index === manga.authors.length - 2 ? ' & ' : ', ') : ''}
                    </>
                ))}
            </div>
            <div class="p-4 mx-2 sm:mx-4">
                <div class="flex flex-col w-full">
                    <div class="divider divider-start"><b class="uppercase tracking-widest">Sinopsis</b></div>
                </div>
                <p class="m-0">{manga.description}</p>
            </div>
        </div>
    </div>
    <div class="flex w-full flex-col md:flex-row-reverse">
        <div class="md:m-4 w-full">
            <div class="p-4 mx-2 sm:mx-4">
                <div class="divider divider-start"><b class="uppercase tracking-widest">Detalles</b></div>
                <div class="details pb-4">
                    {
                        manga.next_chapter_at &&
                        <p class="my-2"><b>Estreno del próximo capitulo:</b> {Astro.locals.formatDate(manga.next_chapter_at)}</p>
                    }
                    <p>
                        <b>Autor(es): </b>
                        {manga.authors.map((author: any, index: number) => (
                            <>
                                <a class="m-0" href={`/author/${author.slug}`}>{author.name}</a>
                                {index !== manga.authors.length - 1 ? (index === manga.authors.length - 2 ? ' & ' : ', ') : ''}
                            </>
                        ))}
                    </p>
                    <p>
                        <b>Demografia:</b>
                        <a class="link" href={`/demography/${manga.demography.slug}`}>{manga.demography.name}</a>
                        <span class="text-sm text-base-content">{manga.demography.description}</span>
                    </p>
                    {
                        manga.genres.length > 0 &&
                        <p>
                            <b>Generos:</b>
                            <span>
                                {
                                    manga.genres.map((genre: any) => (
                                        <a class="link tooltip" data-tip={genre.description} href={`/genre/${genre.slug}`}>{genre.name}</a>
                                    ))
                                }
                            </span>
                        </p>
                    }
                    {
                        manga.released_at &&
                        <p class="m-0"><b>Primera emisión:</b> {Astro.locals.formatDate(manga.released_at)}</p>
                    }
                </div>
                {
                    manga.rankings.length > 0 &&
                    (
                        <div class="divider divider-start"><b class="uppercase tracking-widest">Reseñas</b></div>
                        <div class="reviews px-2">
                            {
                                manga.rankings.map((ranking: any, index: number) => (
                                    <div class={`chat ${index % 2 == 0 ? "chat-start" : "chat-end"}`}>
                                        <div class="chat-header">
                                            { ranking?.user?.username || "Anónim@" }
                                            <time class="text-xs opacity-50">{Astro.locals.formatDate(ranking.createdAt)}</time>
                                        </div>
                                        <div class="chat-bubble">
                                            <span class={`mr-2 font-bold text-2xl text-font-djb ${colorByRank(ranking.rank)}`}>{ranking.rank}</span>
                                            <span class="italic">{ranking.comment}</span>
                                        </div>
                                    </div>
                                ))
                            }
                        </div>
                    )
                }
            </div>
        </div>
        <div class="md:m-4 w-full">
            <div class="p-4 mx-2 sm:mx-4">
                <div class="flex flex-col w-full">
                    <div class="divider divider-start"><b class="uppercase tracking-widest">Lista de Capitulos</b></div>
                </div>
                <ul class="list-none p-0 m-0">
                    {manga.chapters.length === 0 && (
                        <li class="p-2">
                            <p class="text-left">No hay capitulos disponibles, vuelva más tarde.</p>
                        </li>
                    )}
                    {manga.chapters.map((chapter: any) => (
                        <li class="p-2" data-chapter_id={chapter.id}>
                            <a
                                href={`/manga/${manga.slug}/chapters/${chapter.number}`}
                                class="flex w-full md:p-2 border-2 border-transparent hover:border-base-content grayscale hover:grayscale-0 transition-all">
                                <figure class="self-center">
                                    <img
                                        src={chapter.imageUrl || manga.imageUrl}
                                        alt={manga.title}
                                        class="min-w-32 max-w-32 min-h-20 max-h-20 object-cover"
                                        draggable="false"
                                    />
                                </figure>
                                <div class="my-auto ml-4">
                                    <h4 class="text-xl font-semibold uppercase">#{chapter.number.toString().padStart(3, '0')}</h4>
                                    <p>{chapter.title}</p>
                                    <p class="text-xs text-info-content">{Astro.locals.formatDate(chapter.createdAt)}</p>
                                </div>
                            </a>
                        </li>
                    ))}
                </ul>
            </div>
        </div>
    </div>
</Layout>
